@model IEnumerable<DigitalLibrary.Models.User> 
<!-- El modelo que recibe esta vista es una lista (IEnumerable) de objetos User -->

<h1 class="text-center">Administrador de Usuarios</h1>
<div class="row">
    <div class="col-md-3"> <!-- Formulario Principal que Guarda los Usuarios -->
        <div class="card">
            <div class="card-body">
                <!-- El formulario envía la información al método Save del UserController -->
                <form asp-action="Save">
                    <div class="row"> <!-- Campos de entrada: Nombre, Documento, Correo, Teléfono -->
                        <div>
                            <label>Nombre</label>
                            <input type="text" class="form-control" name="Name">
                        </div>
                        <div>
                            <label>Documento</label>
                            <input type="text" class="form-control" name="Document">
                        </div>
                        <div>
                            <label>Correo</label>
                            <input type="text" class="form-control" name="Email">
                        </div>
                        <div>
                            <label>Teléfono</label>
                            <input type="text" class="form-control" name="Phone">
                        </div>
                    </div>
                    <hr>
                    <!-- Botón para enviar los datos y registrar el Usuario -->
                    <button type="submit" class="btn btn-success w-100">Guardar Usuario</button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-9"> <!-- Tabla Principal que muestra los Usuarios-->
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Id</th>         <!-- Columna del Id -->
                <th scope="col">Nombre</th>     <!-- Columna del Nombre -->
                <th scope="col">Documento</th>  <!-- Columna del Documento -->
                <th scope="col">Correo</th>     <!-- Columna del Correo -->
                <th scope="col">Teléfono</th>   <!-- Columna para Teléfono -->
            </tr>
            </thead>
            <tbody>
            @if (Model.Any()) // Validar que la lista (Model) no esté vacía o nula
            {
                foreach (var user in Model) // Recorrer la lista de Usuarios
                {
                    <tr>
                        <td>@user.Id</td>       <!-- Muestra el Id -->
                        <td>@user.Name</td>     <!-- Muestra el Nombre -->
                        <td>@user.Document</td> <!-- Muestra el Documento -->
                        <td>@user.Email</td>    <!-- Muestra el Correo -->
                        <td>@user.Phone</td>    <!-- Muestra el Teléfono -->
                        <td>
                            <!-- Botón que redirige a la acción Detalles enviando el Id -->
                            <a class="btn btn-primary" asp-action="Details" asp-controller="User"
                               asp-route-id="@user.Id">Detalles</a>
                        </td>
                        <td>
                            <!-- Botón que redirige a la acción Eliminar enviando el Id -->
                            <a class="btn btn-danger" asp-action="Delete" asp-controller="User"
                               asp-route-id="@user.Id">Eliminar</a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <!-- Si no hay clientes en la lista, mostrar este mensaje -->
                <p class="text-center text-danger">¡No hay Usuarios!</p>
            }
            </tbody>
        </table>
    </div>
</div>